*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

input {
    outline: none;
}

main {
    background-color: #5C5CFF;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

#header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
}

#header li {
    display: inline;
    min-width: 80px;
    margin-left: 5px;
}

#header li > a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    font-weight: bold;   
    display: inline-block; 
    text-align: center;
    min-width: 100px;
    padding: 5px;
    border-bottom: solid rgba(255, 255, 255, 0.7) 1px;
    transition: 0.5s;
}

li > a:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: #5C5CFF !important;
}

header > img {
    margin-left: 15px;
}

.consulta {
    border: solid rgba(255, 255, 255, 0.7) 1px;
    padding: 10px 30px 30px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.div-consulta {
    width: 45%;
    padding: 0;
}

.div-consulta input {
    width: 49.5%;
}

h1 {
    width: 100%;
    color: rgba(255, 255, 255, 0.7); 
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

#buscar {
    background-color: #5C5CFF;
    color: rgba(255, 255, 255, 0.7);
    border: solid black 0.5px;
    cursor: pointer;   
    transition: 0.5s; 
}

#buscar:hover {
    transform: scale(1.02);
    border: solid rgba(255, 255, 255, 0.7) 0.5px;
}

input, select {
    width: 45%;
    padding: 10px 15px;
    border: none;
    margin-bottom: 0.5rem;
    font-weight: bold;
    transition: 0.5s;
}

input:disabled, select:disabled {
    background-color: rgba(0, 0, 0, 0.5);
}

#submit, option {
    font-weight: bold;
}

input:hover, select:hover {
    border: solid black 0.5px;
}

input:active {
    background-color: rgba(255, 255, 255, 0.3);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    height: 50px;
}